body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.profile-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.profile-header {
  text-align: center;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  border-bottom: 2px solid #2980b9;
}

.profile-body,
.ip-section {
  text-align: center;
  padding: 20px;
}

.server-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.server-table th,
.server-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.server-table th {
  background-color: #3498db;
  color: #fff;
}

.server-details hr {
  margin: 20px auto;
  border: 0;
  border-top: 2px solid #ddd; /* Adjust the color as needed */
  width: 50%; /* Adjust the width as needed */
}

.profile-footer {
  text-align: center;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #fff; /* Set the color to white */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #2980b9;
}

a {
  text-decoration: none;
  color: #3498db; /* デフォルトのリンクの色 */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #2980b9;
}

/* Home リンクのスタイルを追加 */
.profile-header ul li a {
  color: #fff; /* 白に変更 */
}

/* 参加 リンクのスタイルを追加 */
.server-details p a {
  color: #3498db; /* 青に変更 */
}
